<div class="mt-5 p-3 text-black box" style="height:fit-content">
  <h4 style="text-align: center;">choose camera feed</h4>
    <hr style="margin-top: 0;">
  <div class="container">
    <div class="row">
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <span class="form-check-label" style="font-size:1.6rem;">Man-cam</span>
      </div>
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <div class="form-check form-switch form-switch-lg">
          <input class="form-check-input" type="checkbox" id="camStart">
        </div>
      </div>
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <span class="form-check-label" style="font-size:1.6rem;">Pan-cam</span>
      </div>
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <div class="form-check form-switch form-switch-lg">
          <input class="form-check-input" type="checkbox" id="switchTask">
        </div>
      </div>
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <span class="form-check-label" style="font-size:1.6rem;">SCAM-CAM</span>
      </div>
      <div class="col" style="margin-top: auto;margin-bottom: auto;">
        <div class="form-check form-switch form-switch-lg">
          <input class="form-check-input" type="checkbox" id="switchTask">
        </div>
      </div>
    </div>
  </div>
</div>
