<div class="mt-2 p-3 text-black box">
    <h4 style="text-align: center;">Equipment transfer</h4>
    <hr style="margin-top: 0;">
    <div class="btn-group-vertical" style="margin-left: 16%;">
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d0_controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="d0_o" value="open">
            <input class="d0_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 80px;" type="button" id="stop_d0" value="Drawer 1">
            <input class="d0_controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="d0_c" value="close">
        </div>
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d1_controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="d1_o" value="open">
            <input class="d1_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 80px;" type="button" id="stop_d1" value="Drawer 2">
            <input class="d1_controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="d1_c" value="close">
        </div>
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d2_controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="d2_o" value="open">
            <input class="d2_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 80px;" type="button" id="stop_d2" value="Drawer 3">
            <input class="d2_controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="d2_c" value="close">
        </div>
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d3_controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="d3_o" value="open">
            <input class="d3_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 80px;" type="button" id="stop_d3" value="Drawer 4">
            <input class="d3_controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="d3_c" value="close">
        </div>
    </div>
    <hr style="margin-top: 0;margin-top: 7%;">
</div>