<div class="d-flex flex-column flex-shrink-0 mt-2 p-3 text-black box"  style="width:430px;height: fit-content;">
    <h4 style="text-align: center;">Fire extinguisher</h4>
    <hr style="margin-top: 0;margin-bottom: 7%;">
    <div class="btn-group-vertical" style="margin-left: 0;">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <input class="fe_controller btn btn-info btn-lg btn-block" style="width: 185px;height: 80px;" type="button" id="pull_fr" value="pull">
            <input class="fe_controller btn btn-danger btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="stop_fr" value=" ">
            <input class="fe_controller btn btn-info btn-lg btn-block" style="width: 185px;height: 80px;" type="button" id="push_fr" value="Launch">
        </div>
    </div>
    <div style="margin-top: 10px;"></div>
    <h4 style="text-align: center;">Load</h4>
    <div class="btn-group-vertical" style="margin-left: 0; margin-bottom: 5%; margin-top: 1.5%;">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <input class="load_controller btn btn-info btn-lg btn-block" style="width: 185px;height: 80px;" type="button" id="run_l" value="load">
            <input class="load_controller btn btn-danger btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="stop_l" value=" ">
            <input class="load_controller btn btn-info btn-lg btn-block" style="width: 185px;height: 80px;" type="button" id="reverse_l" value="terminate">
        </div>
    </div>
    <hr>
</div>