<div class="mt-2 p-3 text-black box">
    <h4 style="text-align: center;">Manual Control</h4>
    <hr style="margin-top: 0;">
    <div class="btn-group-vertical" style="margin-left: 23%;">
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <input class="controller btn btn-lg" style="height: 80px;width: 80px" type="button">
        <input class="controller btn btn-info btn-lg" style="height: 80px;width: 80px" type="button" id="up" value="N">
	<input class="controller btn btn-lg" style="height: 80px;width: 80px" type="button"></div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <input class="controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="left" value="W">
            <input class="controller btn btn-danger btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="stop" value=" ">
            <input class="controller btn btn-info btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="right" value="E">
        </div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <input class="controller btn btn-lg" style="height: 80px;width: 80px" type="button">
        <input class="controller btn btn-info btn-lg" style="height: 80px;width: 80px" type="button" id="up" value="S">
	<input class="controller btn btn-lg" style="height: 80px;width: 80px" type="button"></div>
    </div>

</div>
