<div class="mt-2 p-3 text-black box" style="height:fit-content">
    <h4 style="text-align: center;">Power System</h4>

    <hr style="margin-bottom: 7%;top:4%;">
    <div>
        <div class="row">
            <h5>Current :</h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;"><span id="gpsLat">0</span></p>Amp. 
    </div>
    <hr style="margin-bottom: 7%;">
     <div>
        <div class="row">
            <h5>Voltage</h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;"><span id="gpsLat">0</span></p>Vol.
    </div>
    <hr style="margin-bottom: 7%;">
         <div>
        <div class="row">
            <h5>Battery remaining: </h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;"><span id="gpsLat">0</span></p>%.
    </div>
 

