<div class="d-flex flex-column flex-shrink-0 mt-2 p-3 text-black box"  style="width:430px;height: fit-content;">
    <h4 style="text-align: center;">Protection system</h4>
    <hr style="margin-top: 0;margin-bottom: 7%;">
    <div class="btn-group-vertical" style="margin-left: 0;">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <input class="shield_controller btn btn-info btn-lg btn-block" style="width: 185px;height: 80px;" type="button" id="open_s" value="open">
            <input class="shield_controller btn btn-danger btn-lg btn-block" style="width: 80px;height: 80px;" type="button" id="stop_s" value=" ">
            <input class="shield_controller btn btn-info btn-lg btn-block" style="width: 185px;height: 80px;" type="button" id="close_s" value="close">
        </div>
    </div>
    <hr>
</div>