<div class="mt-2 p-3 text-black box" >
    <h4 style="text-align: center;">Robotic Arm control</h4>
    <div class="btn-group-vertical" style="margin-left: 0%; margin-top: 6%; margin-bottom: 6%;">

        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d0_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d0_o" value="-">
            <input class="d0_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 40px;" type="button" id="stop_d0" value="joint2">
            <input class="d0_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d0_c" value="+">
        </div>
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d1_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d1_o" value="-">
            <input class="d1_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 40px;" type="button" id="stop_d1" value="joint3">
            <input class="d1_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d1_c" value="+">
        </div>
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d2_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d2_o" value="-">
            <input class="d2_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 40px;" type="button" id="stop_d2" value="joint4">
            <input class="d2_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d2_c" value="+">
        </div>
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d3_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d3_o" value="-">
            <input class="d3_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 40px;" type="button" id="stop_d3" value="joint5">
            <input class="d3_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d3_c" value="+">
        </div>
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d2_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d4_o" value="-">
            <input class="d2_controller btn btn-danger btn-lg btn-block" style="width:120px;height: 40px;" type="button" id="stop_d2" value="joint6">
            <input class="d2_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d2_c" value="+">
        </div>
        <div class="btn-group drawer" role="group" aria-label="Basic mixed styles example">
            <input class="d3_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d5_o" value="-">
            <input class="d3_controller btn btn-danger btn-lg btn-block" style="width: 120px;height: 40px;" type="button" id="stop_d3" value="joint7">
            <input class="d3_controller btn btn-info btn-lg btn-block" style="width: 40px;height: 40px;" type="button" id="d3_c" value="+">
        </div>
 <div class="btn-group-vertical" style="margin-left: 12%; margin-top: 2%; margin-bottom: 6%;">
</div>

<table class="table">
 <tr>
        <td style="padding-top:4%">X</td>
        <td>
          <input type="text" class="form-control cordinates" name="x" id="manix" placeholder="21.203510" size="10"
          autocomplete="off">
        </td>
      </tr>
      <tr>
        <td style="padding-top:4%">Y</td>
        <td>
          <input type="text" class="form-control cordinates" name="y" id="maniy" placeholder="21.203510" size="10"
          autocomplete="off">
        </td>
      </tr>
      <tr>
        <td style="padding-top:4%">Z</td>
        <td>
          <input type="text" class="form-control cordinates" name="z" id="maniz" placeholder="72.839233" size="10"
          autocomplete="off">
        </td>
 </tr>
 <tr>
        <td>
           <input class="btn btn-info" type="button" id="enter" value="Enter" >
        </td>
 </tr>
 </table>

  <div class="btn-group-vertical" style="margin-left: 6%; margin-top: 0%; margin-bottom: 6%;"> 
 <h4 style="text-align: center;">Rviz</h4>
  
    <div class="btn btn-light rounded collapsed" data-bs-toggle="collapse" data-bs-target="#rviz" aria-expanded="false">    
                <hr style="margin-top: 0;">
    		
    		<span style="float: left;">
    		
    		<img id="video" class="mx-auto d-block" width=200 height=130 src="images/rviz.png"></span>
                
    		<hr style="margin-bottom: 0;">
    </div>
    <div class="cam-btn" id="rviz">
        <p>Status - <span class="ctrlStatus" id="rvizStatus">Closed</span></p>
                <input class="btn btn-info btn-lg" type="button" id="rvizStart" value="Start">
                <input class="btn btn-danger btn-lg" type="button" id="rvizEnd" value="End" disabled>
                </div>

