<div class="mt-2 p-3 text-black box" style="height:fit-content">
    <h4 style="text-align: center;">Soil Analysis</h4>
    <hr style="margin-top: 0;margin-bottom: 7%;">
    <div class="row">
                <h5>Gas Heater Array: </h5>     
        </div>
    <div>
        
        <div class="row">
            <div class="col">
                <h5>Heated: </h5>
            </div>
            <div class="col">
                <p style="margin-bottom: 5%; margin-top: 0%; padding-right: 0%;"><span class="auto-status-btn-left" id="g2gTask">No</span><span class="auto-status-btn-right" id="obaTask">Yes</span></p>
            </div>
           
        </div>
        <p style="margin-top:4%;">CO2: <span id="imuData">0</span></p>
        <p style="margin-top:4%;">NO2: <span id="imuData">0</span></p>
        <p style="margin-top:4%;">CH3: <span id="imuData">0</span></p>
        <p style="margin-top:4%;">N2: <span id="imuData">0</span></p>
        <p style="margin-top:4%;">CH3: <span id="imuData">0</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
    <div>
        <div class="row">
            <h5>Temperature Sensor: </h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;">Temperature: <span id="gpsLat">0</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
     <div>
        <div class="row">
            <h5>Humidity Sensor: </h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;">Humidity: <span id="gpsLat">0</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
         <div>
        <div class="row">
            <h5>Pressure Sensor: </h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;">Pressure: <span id="gpsLat">0</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
    <div>
        <div class="row">
            <h5>Air Velocity: </h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;"> <span id="gpsLat">0</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
    <div class="row">
                <h5>UV light Radiation Detector: </h5>     
        </div>
    <div>
        
        <div class="row">
            <div class="col">
                <h5>Detected: </h5>
            </div>
            <div class="col">
                <p style="margin-bottom: 5%; margin-top: 0%; padding-right: 0%;"><span class="auto-status-btn-left" id="g2gTask">No</span><span class="auto-status-btn-right" id="obaTask">Yes</span></p>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 7%;">
    <div>
        <div class="row">
            <h5>Colour Sensor: </h5>          
        </div>
        <div class="row">
        <div class="col">
        <p style="margin-top:4%;margin-bottom: 2%;">Red: <span id="gpsLat">0</span></p>
        <p style="margin-top:4%;margin-bottom: 2%;">Green: <span id="gpsLat">0</span></p>
        <p style="margin-top:4%;margin-bottom: 2%;">Blue: <span id="gpsLat">0</span></p></div>
        <div class="col">
        <img id="video" class="mx-auto d-block" width=110 height=110 src="images/colour_image_(RGB).jpg"></div>    
    </div>
</div>
    <hr>
</div>
