<div class="d-flex flex-column flex-shrink-0 mt-2 p-3 text-black box"  style="width:430px;height: fit-content;">
    <h4 style="text-align: center;">Sensors:</h4>
    <hr style="margin-top: 0;margin-bottom: 7%;">
        <div>
        <div class="row">
            <div class="col">
                <h5>Ultrasonic Sensors:</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchImu">
                </div>
            </div>
        </div>
        <p style="margin-top:4%;">r1: <span id="imuroll">0.00</span></p>
        <p style="margin-top:0;">r2: <span id="imupitch">0.00</span></p>
        <p style="margin-top:0;">r3: <span id="imuyaw">0.00</span></p>
        <p style="margin-top:4%;">r4: <span id="imuroll">0.00</span></p>
        <p style="margin-top:0;">r5: <span id="imupitch">0.00</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
    <div>
        <div class="row">
            <div class="col">
                <h5>IMU</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchImu">
                </div>
            </div>
        </div>
        <p style="margin-top:4%;">roll: <span id="imuroll">0.00</span></p>
        <p style="margin-top:0;">pitch: <span id="imupitch">0.00</span></p>
        <p style="margin-top:0;">yaw: <span id="imuyaw">0.00</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
    <div>
        <div class="row">
            <div class="col">
                <h5>GPS</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchGPS">
                </div>
            </div>
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;">Target Latitude: <span id="gpsLat">0.00</span></p>
        <p style="margin-top: 0;margin-bottom: 2%;">Target Longitude: <span id="gpsLong">0.00</span></p>
    </div>
        <div>
        <p style="margin-top:4%;margin-bottom: 2%;">Rover Latitude: <span id="gpsLat">0.00</span></p>
        <p style="margin-top: 0;margin-bottom: 2%;">Rover Longitude: <span id="gpsLong">0.00</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
    <!--div>
        <div class="row">
            <div class="col">
                <h5>Speed</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchSpeed">
                </div>
            </div>
        </div>
        <p style="margin-top:4%; margin-bottom: 2%;">Linear: <span id="cmdVelX">0.0</span></p>
        <p style="margin-top: 0;margin-bottom: 2%;">Angular: <span id="cmdVelZ">0.0</span></p>
    </div>
    <hr style="margin-bottom: 7%;"-->
        <div>
        <div class="row">
            <div class="col">
                <h5>GPS</h5>
            </div>
            <div class="col">
                <div class="form-check form-switch" style="padding-left: 90%;">
                    <input class="form-check-input" type="checkbox" id="switchGPS">
                </div>
            </div>
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;">Target Latitude: <span id="gpsLat">0.00</span></p>
        <p style="margin-top: 0;margin-bottom: 2%;">Target Longitude: <span id="gpsLong">0.00</span></p>
    </div>
        <div>
        <p style="margin-top:4%;margin-bottom: 2%;">Rover Latitude: <span id="gpsLat">0.00</span></p>
        <p style="margin-top: 0;margin-bottom: 2%;">Rover Longitude: <span id="gpsLong">0.00</span></p>
    </div>
    <hr style="margin-bottom: 7%;">
     <h4 style="text-align: center;">Power System:- </h4>
    <hr style="margin-bottom: 7%;top:4%;">
    <div>
        <div class="row">
            <h5>Current :</h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;"><span id="gpsLat">0</span></p>Amp. 
    </div>
    <hr style="margin-bottom: 7%;">
     <div>
        <div class="row">
            <h5>Voltage</h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;"><span id="gpsLat">0</span></p>Vol.
    </div>
    <hr style="margin-bottom: 7%;">
         <div>
        <div class="row">
            <h5>Battery remaining: </h5>           
        </div>
        <p style="margin-top:4%;margin-bottom: 2%;"><span id="gpsLat">0</span></p>%.
    </div>
</div>




